<mat-card>
  <mat-tab-group style="width: 640px;">
    <mat-tab label="First">
      <app-double-scroll>
        <table mat-table [dataSource]="dataSource" matSort>
  
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>
      
          
          <ng-container matColumnDef="progress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
            <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
          </ng-container>
      
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
      
          
          <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
          </ng-container>
  
          <ng-container matColumnDef="a">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
          </ng-container>
  
          <ng-container matColumnDef="b">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
          </ng-container>
  
          <ng-container matColumnDef="c">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
          </ng-container>
  
          <ng-container matColumnDef="d">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
          </ng-container>
  
          <ng-container matColumnDef="e">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
          </ng-container>
  
          <ng-container matColumnDef="f">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
          </ng-container>
  
          <ng-container matColumnDef="h">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
          </ng-container>
  
          <ng-container matColumnDef="i">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
          </ng-container>
  
          <ng-container matColumnDef="j">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter</td>
          </tr>
        </table>
      </app-double-scroll>
    </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
  
  <div style="width: 640px;">
    <div class="mat-elevation-z8 table">
      <app-double-scroll>
        <table mat-table [dataSource]="dataSource" matSort>
  
          
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>
      
          
          <ng-container matColumnDef="progress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
            <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
          </ng-container>
      
          
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
      
          
          <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
          </ng-container>
  
          <ng-container matColumnDef="a">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
          </ng-container>
  
          <ng-container matColumnDef="b">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
          </ng-container>
  
          <ng-container matColumnDef="c">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
          </ng-container>
  
          <ng-container matColumnDef="d">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
          </ng-container>
  
          <ng-container matColumnDef="e">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
          </ng-container>
  
          <ng-container matColumnDef="f">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
          </ng-container>
  
          <ng-container matColumnDef="h">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
          </ng-container>
  
          <ng-container matColumnDef="i">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
          </ng-container>
  
          <ng-container matColumnDef="j">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter</td>
          </tr>
        </table>
      </app-double-scroll>
      
  
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  
  <div style="width: 200px; border: 1px black dashed">
    
  
    <app-double-scroll>
      <div style="min-width: 400px; background-color: red; word-break: keep-all; white-space: nowrap;">
        long ass text long ass text long ass text long ass text long ass text long ass text long ass text long ass text
        long ass text
      </div>
    </app-double-scroll>
  </div>
</mat-card>



<!-- <div style="width: 640px;">
  <app-double-scroll>

    <mat-table [dataSource]="dataSource" >
   
     
     <ng-container matColumnDef="Indicator">
         <mat-header-cell mat-header-cell *matHeaderCellDef></mat-header-cell>
         <mat-cell *matCellDef="let element; let i = index"></mat-cell>
     </ng-container>
   
   
     <ng-container matColumnDef="No">
         <mat-header-cell *matHeaderCellDef><div>#</div></mat-header-cell>
         <mat-cell *matCellDef="let element; let i = index">
             {{ i + 1 }}
         </mat-cell>
     </ng-container>
   
   
     <ng-container matColumnDef="Photo">
         <mat-header-cell *matHeaderCellDef></mat-header-cell>
         <mat-cell *matCellDef="let element">
           {{element.name}}
         </mat-cell>
     </ng-container>
   
     <ng-container matColumnDef="Name" sticky>
         <mat-header-cell *matHeaderCellDef>Jogador</mat-header-cell>
         <mat-cell *matCellDef="let element">
            <h3 class="name"><b>{{element.name}}</b></h3> 
         </mat-cell>
     </ng-container>
   
   
     <ng-container matColumnDef="Victories">
         <mat-header-cell *matHeaderCellDef>Vitórias</mat-header-cell>
         <mat-cell *matCellDef="let element">
            <h2 class="bold"><b>{{element.name}}</b></h2> 
         </mat-cell>
     </ng-container>
   
   
     <ng-container matColumnDef="endedMatches">
         <mat-header-cell *matHeaderCellDef>Jogos(r)</mat-header-cell>
         <mat-cell *matCellDef="let element">
            <h3>{{element.name}}</h3>
         </mat-cell>
     </ng-container>
   
   
     <ng-container matColumnDef="Sets">
         <mat-header-cell *matHeaderCellDef>Sets</mat-header-cell>
         <mat-cell *matCellDef="let element">
             <h3>{{element.name}}</h3>
         </mat-cell>
     </ng-container>
   
   
     <ng-container matColumnDef="Games">
         <mat-header-cell *matHeaderCellDef>Games</mat-header-cell>
         <mat-cell *matCellDef="let element">
             <h3>{{element.name}}</h3>
         </mat-cell>
     </ng-container>
   
   
   
     <ng-container matColumnDef="woVictories">
         <mat-header-cell *matHeaderCellDef>WO(v)</mat-header-cell>
         <mat-cell *matCellDef="let element">
             <h3>{{element.name}}</h3>
         </mat-cell>
     </ng-container>
   
   
     <ng-container matColumnDef="setsPro">
         <mat-header-cell *matHeaderCellDef>Sets(p)</mat-header-cell>
         <mat-cell *matCellDef="let element">
             <h3>{{element.name}}</h3>
         </mat-cell>
     </ng-container>
   
   
     <ng-container matColumnDef="gamesPro">
         <mat-header-cell *matHeaderCellDef>Games(p)</mat-header-cell>
         <mat-cell *matCellDef="let element">
             <h3>{{element.name}}</h3>
         </mat-cell>
     </ng-container>
   
   
     <ng-container matColumnDef="Group">
         <mat-header-cell *matHeaderCellDef>Grupo</mat-header-cell>
         <mat-cell *matCellDef="let element">
             <h3 class="bold"><b>{{element.name}}</b></h3> 
         </mat-cell>
     </ng-container>
   
     <ng-container matColumnDef="GroupB">
         <mat-header-cell *matHeaderCellDef>Grupo</mat-header-cell>
         <mat-cell *matCellDef="let element" >
             <h3 class="bold"><b>{{element.name}}</b></h3> 
         </mat-cell>
     </ng-container>
   
     <ng-container matColumnDef="GroupC">
         <mat-header-cell *matHeaderCellDef>Grupo</mat-header-cell>
         <mat-cell *matCellDef="let element">
             <h3 class="bold"><b>{{element.name}}</b></h3> 
         </mat-cell>
     </ng-container>
   
     <ng-container matColumnDef="GroupD">
         <mat-header-cell *matHeaderCellDef>Grupo</mat-header-cell>
         <mat-cell *matCellDef="let element">
             <h3 class="bold"><b>{{element.name}}</b></h3> 
         </mat-cell>
     </ng-container>
   
   
     <ng-container matColumnDef="legenda">
         <td mat-footer-cell *matFooterCellDef>
             <div class="legenda">
                 <h3><b>Pontuação</b></h3>
                 <ul>
                     <li>
                         <h4><b>Vitórias:</b>Saldo sempre positivo. Derrotas não
                         impactam negativamente o saldo de vitórias. Cada vitória,
                         inclusive quando por WO, soma 1 ponto. </h4>
                     </li>
                     <li>
                         <h4><b>Jogos(r):</b> Jogos realizados, com pontuação de
                         Sets e Games informada. </h4>
                     </li>
                     <li>
                         <h4><b>Sets, Games:</b> Os saldos (vencidos - perdidos) de Sets e Games.</h4>
                     </li>
                     <li>
                         <h4><b>WO(v):</b> Quantidade de vitórias por WO. Não impactam
                         os saldos de Jogos(r), Sets e Games. Em caso de empate no saldo
                         de Games, quem tiver menor quantidade de WO(v) prevalecerá. </h4>
                     </li>
                     <li>
                         <h4><b>Sets(p):</b> Quantidade de Sets vencidos. </h4>
                     </li>
                     <li>
                         <h4><b>Games(p):</b> Quantidade de Games vencidos. </h4>
                     </li>
                 </ul>
   
                 
   
                 <ng-container>
                 <h3><b>Qualificação</b></h3>
   
                 <ul>
                     <li>
                         <div class="square blue"></div>
                         <h4>Jogadores qualificados para a próxima fase</h4> 
                     </li>
                 </ul>
                 </ng-container>
                 
             </div>
         </td>
     </ng-container>
   
     <mat-header-row *matHeaderRowDef="displayedColumns">
     </mat-header-row>
     <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
     <mat-footer-row *matFooterRowDef="['legenda']"></mat-footer-row>
   
   
   </mat-table>
   </app-double-scroll>
</div> -->
 
